<dx-scroll-view class="view-wrapper-scroll">
  <div class="view-wrapper">
    <breadcrumb [label]="'profile' | translate" [link]="linkBreadCrumb"></breadcrumb>

    <div class="grid">

    <div class="panel">
      <div style="margin-right: 12px;">
        <form-avatar
          [editable]="true"
          [size]="100"
        ></form-avatar>
        <dx-button
          [text]="'changePassword' | translate"
          class="change-password-button"
          stylingMode="contained"
          [icon]="(screen.xSmallScreenChanged | async) ? null : 'lock'"
          (onClick)="changePassword()"
        ></dx-button>
      </div>
      <div class="form-container">
        <div style="font-size: 14px;">{{'username' | translate}}: <b> {{data.username}}</b></div>
        <dx-form
          [formData]="data"
          [disabled]="isLoading"
          [showColonAfterLabel]="true"
          [colCount]="2"
        >
          <dxi-item 
            dataField="hoVaTen" 
            isRequired="true" 
          >
              <dxo-label [text]="'fullname' | translate"></dxo-label>
              <dxi-validation-rule
                type="required"
                [message]="'fieldRequire' | translate"
              ></dxi-validation-rule>
          </dxi-item>
         
          <dxi-item 
              dataField="gioiTinh" 
              editorType="dxSelectBox"
              [editorOptions]="gioiTinhOptions"
            >
              <dxo-label [text]="'gender' | translate"></dxo-label>
          </dxi-item>
          <dxi-item 
              dataField="ngaySinh" 
              editorType="dxDateBox"
              [editorOptions]="gioiTinhOptions"
            >
              <dxo-label [text]="'birthday' | translate"></dxo-label>
          </dxi-item>
          <dxi-item 
            dataField="sdt" 
            [editorOptions]="{mask: maskSDT}"
          >
              <dxo-label [text]="'phone' | translate"></dxo-label>
          </dxi-item>
          <dxi-item 
              dataField="trinhDo" 
              editorType="dxSelectBox"
              [editorOptions]="trinhDoOptions"
            >
              <dxo-label [text]="'level2' | translate"></dxo-label>
          </dxi-item>
          <dxi-item 
            dataField="email" 
            [editorOptions]="{mode: 'email'}"
          >
              <dxo-label text="Email"></dxo-label>
              <dxi-validation-rule
                type="email"
                [message]="'message-email-error' | translate"
              ></dxi-validation-rule>
          </dxi-item>
          <dxi-item 
              dataField="coQuan" 
              [colSpan]="2"
            >
              <dxo-label [text]="'organizationAndPosition' | translate"></dxo-label>
              <coquan [items]="OrganizationAndPositionItems" [action]="false" [actionAddRow]="false"></coquan>
          </dxi-item>
          <dxi-item 
              [colSpan]="2"
              dataField="vaiTroID" 
              editorType="dxTagBox"
              [disabled]="true"
              [editorOptions]="vaiTroOptions"
            >
            <dxo-label [text]="'role' | translate"></dxo-label>
          </dxi-item>
          <dxi-item 
            itemType="group"
            caption="Quyền xử lý theo đơn vị"
            [colSpan]="2"
          >
            <dxi-item style="display: flex; width: 100%; justify-content: space-between;">
              <div style="display: flex; align-self: center;">
                <div class="text-pheduyet">Phê duyệt toàn bộ thủ tục HNHT</div>
              </div>
              <dx-tag-box style="width: 70%" 
                  [dataSource]="sampleQuyen"
                  valueExpr="ID"
                  displayExpr="Name"
                  [disabled]="true"
                  [value]="permission"
                >
              </dx-tag-box>
            </dxi-item>
          </dxi-item>
        </dx-form>
      </div>
    </div>

    <corner-button [items]="listCornerBtn"></corner-button>
  </div>

  </div>
</dx-scroll-view>

<change-profile-password
  [(visible)]="isChangePasswordPopupOpened"
></change-profile-password>