@use "../../../variables" as *;

.create-account-form {

  ::ng-deep .dx-button.dx-button-warning {
    background-color: #fb973f;
  }

  ::ng-deep .dx-field-item-label-text {
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    color: #000000;
  }

  ::ng-deep .dx-field-item-label-location-top {
    padding-left: 0;
    padding-right: 0;
  }
  
  .dx-button-text {
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
  }

  .policy-info {
    color: var(--base-text-color-alpha);
    font-size: 12px;
    font-style: normal;

    a {
      color: var(--base-text-color-alpha);
    }
  }

  .login-link {
    color: var(--accent-color);
    text-align: center;
    padding: 6px 0 32px 0;
    border-bottom: 1px solid var(--border-color);
    font-style: normal;
    font-size: 14px;

    .redirectLink {
      font-style: normal;
      font-size: 14px;
    }

    
  }
}

.description-text {
  p {
    margin: 8px 0px 8px 0px;
  }
  span {
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #000000;
  }
}