<div class="view-wrapper">
  <breadcrumb [label]="'organization' | translate" [link]="linkBreadCrumb"></breadcrumb>
  <dx-tree-list
    class="grid"
    [dataSource]="dataSource"
    parentIdExpr="donViCha"
    [showRowLines]="true"
    [columnAutoWidth]="true"[rootValue]="0"
    [showBorders]="true"
  >   
    <dxo-load-panel  [showPane]="true" [enabled]="true"></dxo-load-panel>
    <dxo-scrolling rowRenderingMode="virtual"></dxo-scrolling>
    <dxo-paging [pageSize]="20"></dxo-paging>
    <dxo-pager [visible]="true" [showPageSizeSelector]="true" [showInfo]="true" [allowedPageSizes]="allowedPageSizes" ></dxo-pager>
    <dxo-editing mode="cell" 
      [allowUpdating]="true" 
      [allowDeleting]="true" 
      [useIcons]="true"
    > 
    </dxo-editing>
    <dxo-sorting mode="none"></dxo-sorting>
    <dxo-header-filter [visible]="true">
      <dxo-search
        [enabled]="true"
        [timeout]="700"
        mode="contains"
      ></dxo-search>
    </dxo-header-filter>

      <!-- Header -->
      <dxo-toolbar>
        <dxi-item locateInMenu="auto" location="before">
            <filter-toolbar [searchObj]="searchSubject"></filter-toolbar>
        </dxi-item>
        <dxi-item location="after" locateInMenu="auto">
          <dx-button
            [text]="'add' | translate"
            icon="plus"
            type="default"
            stylingMode="contained"
            (onClick)="addOrganization()"
          ></dx-button>
        </dxi-item>
        <dxi-item location="after" locateInMenu="auto">
          <dx-button
            [text]="'updateorder' | translate"
            icon="plus"
            type="warning"
            stylingMode="contained"
            (onClick)="updateOrder()"
          ></dx-button>
        </dxi-item>
        <dxi-item
          location="after"
          locateInMenu="auto"
          showText="inMenu"
          widget="dxButton"
          [options]="{
            text: 'Refresh',
            icon: 'refresh',
            onClick: refresh,
            stylingMode: 'text'
          }"
        ></dxi-item>
      </dxo-toolbar>

      <!-- Defined Columns -->
      <dxi-column
          dataField="tenDonVi"
          [caption]="'nameunit' | translate"
          [minWidth]="150"
          [allowEditing]="false"
      ></dxi-column>
      <dxi-column
          dataField="capDonVi"
          [caption]="'levelUnit' | translate"
          [minWidth]="150"
          [hidingPriority]="3"  
          [allowEditing]="false"
      ></dxi-column>
      <dxi-column
          dataField="thuTu"
          [caption]="'stt' | translate"
          [width]="90"
          editCellTemplate="OrderEditor"
          [hidingPriority]="1"  
          cellTemplate="OrderEditor"
      ></dxi-column>
      <dxi-column
          dataField="trangThai"
          [caption]="'status' | translate"
          [hidingPriority]="2"  
          [minWidth]="150"
          [allowEditing]="false"
      ></dxi-column>

      <dxi-column type="buttons" [width]="110" [caption]="'action' | translate"
      >
        <dxi-button
          [hint]="'dxDataGrid-editingEditRow' | translate"
          icon="edit"
          [visible]="true"
          [onClick]="onEditClick"
        ></dxi-button>
        <dxi-button name="delete" [hint]="'dxDataGrid-editingDeleteRow' | translate"></dxi-button>
      </dxi-column>

      <div *dxTemplate="let cellInfo of 'OrderEditor'">
        <dx-text-box stylingMode='outlined'
          [value]="cellInfo.value"
        ></dx-text-box>
      </div>
  </dx-tree-list>

</div>