<form-popup
  [titleText]="'changePassword' | translate"
  [visible]="visible"
  [width]="360"
  [height]="450"
  [wrapperAttr]="{ class: 'change-profile-password-popup' }"
  [isSaveDisabled]="isSaveDisabled"
  (save)="saveNewPassword()"
  (visibleChange)="changeVisible($event)"
>
  <dx-form
    #form
    labelMode="outside"
    labelLocation="top"
    [showColonAfterLabel]="true"
  >
    <dxi-item>
      <dxo-label [text]="'currentPassword' | translate"></dxo-label>
      <password-text-box
        [placeholder]="'currentPassword' | translate"
        stylingMode="filled"
        [(value)]="formData['currentPassword']"
        (valueChanged)="onFieldChanged()"
      ></password-text-box>
    </dxi-item>

    <dxi-item>
      <div class="h-separator"></div>
    </dxi-item>

    <dxi-item>
      <dxo-label [text]="'password' | translate"></dxo-label>
      <password-text-box
        [placeholder]="'password' | translate"
        stylingMode="filled"
        [(value)]="formData['password']"
        (valueChanged)="onNewPasswordChanged()"
      ></password-text-box>
    </dxi-item>

    <dxi-item>
      <dxo-label [text]="'confirmPassword' | translate"></dxo-label>
      <password-text-box
        #confirmField
        [placeholder]="'confirmPassword' | translate"
        stylingMode="filled"
        [(value)]="formData['confirmedPassword']"
        [validators]="confirmPasswordValidators"
        (valueChanged)="onFieldChanged()"
      >
      </password-text-box>
    </dxi-item>
  </dx-form>
  <div style="color: rgb(217, 0, 27); font-style: italic; font-weight: 400;">Lưu ý: Mật khẩu có ít nhất 6 ký tự. Xác nhận mật khẩu mới và mật khẩu mới phải giống nhau</div>
</form-popup>