@use "../../../../variables.scss" as *;

:host {
  --left-panel-width: 400px;

  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;

  .view-wrapper-scroll {
    // background-color: var(--card-background);
    background-color: rgb(246, 249, 254);
    width: 100%;
    // margin-top: calc(var(--content-padding) / 2);
    // max-height: calc(100% - var(--toolbar-height));

    ::ng-deep .dx-scrollview-content {
      height: 100%;
    }
    
    ::ng-deep .dx-button.dx-button-default, .dx-selection {
      background-color: var(--btn-default);
      height: 30px;
    }
  }
}


::ng-deep .dx-button.dx-button-default.dx-state-hover {
  background-color: var(--hover-btn-default);
}

::ng-deep .dx-field-item-label-text {
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  color: #000000;
}

::ng-deep .dx-field-item-label-location-top {
  padding-left: 0;
  padding-right: 0;
}

.dx-toolbar ::ng-deep {
  margin-bottom: calc(var(--toolbar-margin-bottom) / 2);

  .dx-toolbar-label > div {
    @include header();
  }
}

.view-wrapper {
  // padding: var(--content-padding) var(--content-padding) 0 var(--content-padding);
  // background-color: var(--card-background);

  height: 100%;

  .grid {
    margin: var(--content-padding);
    margin-bottom: 0;
    height: 100%;
    
    .panel {
      height: 100%;
      padding: 16px;
      border: 1px solid rgb(226, 229, 229);
      background-color: #fff;
      border-radius: 3px;
    }
  }
  
}

.corner-button {
  position: fixed;
  bottom: 8px;
  padding-top: 8px;
  text-align: center;
  width: 30%;
  border-top: 1px solid;
  display: flex;
  justify-content: space-around;
}
