
<div class="view-wrapper">
  <breadcrumb [label]="'registerTTHC' | translate" [link]="linkBreadCrumb"></breadcrumb>
  <dx-data-grid
        class="gridtthc"
        noDataText=""
        [dataSource]="dataSource"
        [allowColumnReordering]="true"
        [columnAutoWidth]="true"
        [remoteOperations]= "{paging: true}"
        (onContentReady)="onContentReady($event)"
        (onRowClick)="onRowClick($event)"
        [showBorders]="true"
  >   
        <dxo-load-panel [showPane]="false"></dxo-load-panel>
        <dxo-scrolling rowRenderingMode="virtual"></dxo-scrolling>
        <dxo-paging [pageSize]="20"></dxo-paging>
        <dxo-pager [visible]="true" [showPageSizeSelector]="true" [showInfo]="true" [allowedPageSizes]="allowedPageSizes" ></dxo-pager>
        <dxo-editing mode="row" 
          [allowUpdating]="true" 
          [allowDeleting]="true" 
          [useIcons]="true"
        > 
        </dxo-editing>
        <dxo-sorting mode="none"></dxo-sorting>
        <dxo-header-filter [visible]="true" [allowSearch]="true"></dxo-header-filter>

      <!-- Header -->
      <dxo-toolbar>
        <dxi-item locateInMenu="auto" location="before">
            <filter-toolbar [searchObj]="searchSubject"></filter-toolbar>
        </dxi-item>
        <dxi-item location="after" locateInMenu="auto">
          <dx-button
            [text]="'add' | translate"
            icon="plus"
            type="default"
            stylingMode="contained"
            (onClick)="themDangKyTTHC()"
          ></dx-button>
        </dxi-item>
        <dxi-item
          location="after"
          locateInMenu="auto"
          showText="inMenu"
          widget="dxButton"
          [options]="{
            text: 'Refresh',
            icon: 'refresh',
            onClick: refresh,
            stylingMode: 'text'
          }"
        ></dxi-item>
      </dxo-toolbar>

      <!-- Defined Columns -->
      <dxi-column
          dataField="stt"
          caption="STT"
          width="80"
          alignment="center"
          [allowHeaderFiltering]="false"
          cellTemplate="sttEditor"
      ></dxi-column>
      <dxi-column width="500"
          dataField="tenHoiThao"
          [caption]="'conferenceName' | translate"
      ></dxi-column>

      <dxi-column
          dataField="thoiGianDK" dataType="datetime" 
          format="dd/MM/yyyy hh:mm:ss"
          [caption]="'timeregister' | translate"
      ></dxi-column>
      
      <dxi-column
          dataField="thoiGianCapNhat" dataType="datetime" 
          format="dd/MM/yyyy hh:mm:ss"
          [caption]="'timeupdate' | translate"
      ></dxi-column>

      <dxi-column
          dataField="trangThai"
          [caption]="'status' | translate"
      ></dxi-column>

      <dxi-column type="buttons" [width]="110" [caption]="'action' | translate">
        <dxi-button icon=pulldown 
          [hint]="'processHandle' | translate" 
          type="success"
          [onClick]="viewProcessingProcedure"
        ></dxi-button>
        <dxi-button
          [hint]="'dxDataGrid-editingEditRow' | translate"
          icon="edit"
          [visible]="true"
          [onClick]="onEditClick"
        ></dxi-button>
        <dxi-button name="delete" [hint]="'dxDataGrid-editingDeleteRow' | translate"></dxi-button>
      </dxi-column>

      <div *dxTemplate="let cellInfo of 'sttEditor'">
        <div>{{cellInfo.row.rowIndex + 1}}</div>
      </div>
      
    </dx-data-grid>
    
    <quatrinhxulyHoSo-popup
      [(visible)]="isProcessingProcedurePopupOpened"
      [data]="dataThuTuc"
      [dataVersion]="dataPhienBan"
    ></quatrinhxulyHoSo-popup>
</div>

