
<div class="view-wrapper">
    <breadcrumb [label]="'organizationReport' | translate" [link]="linkBreadCrumb"></breadcrumb>
    <div class="panel">
        <dx-data-grid
          class="grid"
          noDataText=""
          [dataSource]="dataSource"
          [columnAutoWidth]="true"
          [showBorders]="true"
          [showColumnLines]="true"
          (onExporting)="onExporting($event)"
      >   
          <dxo-load-panel [showPane]="false"></dxo-load-panel>
          <dxo-scrolling rowRenderingMode="virtual"></dxo-scrolling>
          <dxo-sorting mode="none"></dxo-sorting>
          <dxo-export [enabled]="true"></dxo-export>

          <!-- Defined Columns -->

          <dxi-column
              dataField="stt"
              caption="STT"
              [width]="50"
              cellTemplate="sttEditor"
              alignment="center"
          ></dxi-column>

          <dxi-column
              dataField="tenNhaKH"
              [caption]="'scientist' | translate"
          ></dxi-column>

          <dxi-column
              dataField="quocTich"
              [caption]="'nationality' | translate"
          ></dxi-column>
          <dxi-column
              dataField="soLanPH"
              [caption]="'timeCoop' | translate"
          ></dxi-column>
          <dxi-column 
              dataField="coQuan" 
              [caption]="'workingAgency' | translate"
          ></dxi-column>

          <div *dxTemplate="let cellInfo of 'sttEditor'">
            <div>{{cellInfo.row.rowIndex + 1}}</div>
          </div>
          

      </dx-data-grid>
    </div>
  
  </div>