<dx-scroll-view class="view-wrapper-scroll">
    <div class="view-wrapper">
      <breadcrumb [label]="'processingDoc' | translate" [link]="linkBreadCrumb"></breadcrumb>
      <div class="grid-dktthc">
        
        <div class="panel">
            <div class="form-container-dktthc">
                <dx-form
                    [formData]="data"
                    [disabled]="isLoading"
                    [showColonAfterLabel]="true"
                >
                    <dxi-item 
                        dataField="tenHoiThao" 
                        isRequired="true" 
                        [disabled]="true"
                    >
                        <dxo-label [text]="'conferenceName' | translate" ></dxo-label>
                        <dxi-validation-rule
                            type="required"
                            [message]="'fieldRequire' | translate"
                        ></dxi-validation-rule>
                    </dxi-item>

                    <dxi-item itemType="tabbed">
                        <dxo-tab-panel-options [deferRendering]="false"></dxo-tab-panel-options>
                        
                        <dxi-tab [title]="'reasonpurpose' | translate">
                            <dxi-item 
                              dataField="lyDoMucDich.lyDo" 
                              isRequired="true" 
                              [disabled]="true"
                            >
                              <dxo-label [text]="'contextReason' | translate"></dxo-label>
                              <dxi-validation-rule
                                type="required"
                                [message]="'fieldRequire' | translate"
                              ></dxi-validation-rule>
                            </dxi-item>
            
                            <dxi-item 
                              dataField="lyDoMucDich.mucDich" 
                              isRequired="true" 
                              [disabled]="true"
                            >
                              <dxo-label [text]="'resultpurpose' | translate"></dxo-label>
                              <dxi-validation-rule
                                type="required"
                                [message]="'fieldRequire' | translate"
                              ></dxi-validation-rule>
                            </dxi-item>
            
                            <dxi-item itemType="group" [caption]="'nameorganization' | translate">
                              <dxi-item 
                                dataField="lyDoMucDich.donViID" 
                                isRequired="true" 
                                editorType="dxSelectBox"
                                [editorOptions]="toChucEditorOptions"
                                [disabled]="true"
                              >
                                <dxo-label [text]="'Organizationalunits' | translate"></dxo-label>
                                <dxi-validation-rule
                                  type="required"
                                  [message]="'fieldRequire' | translate"
                                ></dxi-validation-rule>
                              </dxi-item>
            
                              <dxi-item 
                                dataField="lyDoMucDich.donViDongToChuc" 
                              >
                                <dxo-label [text]="'coorganization' | translate"></dxo-label>
                                <coquan [items]="coOrganizationItems" 
                                  [data]="data.lyDoMucDich.donViDongToChuc" 
                                  [titleBtn]="'addOrganizationAndPosition'" 
                                  [selectBoxData]="selectBoxDataCoQuan"
                                  [actionAddRow]="false" [action]="false"
                                >
                                </coquan>
                              </dxi-item>
                            </dxi-item>
            
                        </dxi-tab>

                        <dxi-tab [title]="'infoConference' | translate">

                            <dxi-item itemType="group" [caption]="'timelocation' | translate" [colCount]="2">
            
                              <dxi-item 
                                dataField="thongTinHoiThao.fromDate" 
                                isRequired="true" 
                                editorType="dxDateBox"
                                [editorOptions]="{placeholder: 'dd/mm/yyyy'}"
                                [disabled]="true"
                              >
                                <dxo-label [text]="'fromDate' | translate"></dxo-label>
                                <dxi-validation-rule
                                  type="required"
                                  [message]="'fieldRequire' | translate"
                                ></dxi-validation-rule>
                              </dxi-item>
            
                              <dxi-item 
                                dataField="thongTinHoiThao.toDate" 
                                isRequired="true" 
                                editorType="dxDateBox"
                                [editorOptions]="{placeholder: 'dd/mm/yyyy'}"
                                [disabled]="true"
                              >
                                <dxo-label [text]="'toDate' | translate"></dxo-label>
                                <dxi-validation-rule
                                  type="required"
                                  [message]="'fieldRequire' | translate"
                                ></dxi-validation-rule>
                              </dxi-item>
            
                              <dxi-item 
                                  dataField="thongTinHoiThao.diaDiemID" 
                                  isRequired="true" 
                                  editorType="dxSelectBox"
                                  [editorOptions]="diadiemEditorOptions"
                                  [colSpan]="2"
                                  [disabled]="true"
                                >
                                  <dxo-label [text]="'place' | translate"></dxo-label>
                                  <dxi-validation-rule
                                    type="required"
                                    [message]="'fieldRequire' | translate"
                                  ></dxi-validation-rule>
                              </dxi-item>
            
                            </dxi-item>
            
                            <dxi-item itemType="group" [caption]="'placeVisit' | translate" [colCount]="2">
            
                              <dxi-item [disabled]="true"
                                dataField="thongTinHoiThao.moTaDiaDiem" 
                                isRequired="true" [colSpan]="2"
                              >
                                <dxo-label [text]="'infoplace' | translate"></dxo-label>
                                <dxi-validation-rule
                                  type="required"
                                  [message]="'fieldRequire' | translate"
                                ></dxi-validation-rule>
                              </dxi-item>
            
                            </dxi-item>
            
                            <dxi-item itemType="group" [caption]="'formandtech' | translate" [colCount]="2">
            
                              <dxi-item [disabled]="true"
                                dataField="thongTinHoiThao.loaiHoiThaoID" 
                                [editorOptions]="loaiHoiThaoEditorOptions"
                                editorType="dxSelectBox"
                                isRequired="true"
                              >
                                <dxo-label [text]="'conferenceFormat' | translate"></dxo-label>
                                <dxi-validation-rule
                                  type="required"
                                  [message]="'fieldRequire' | translate"
                                ></dxi-validation-rule>
                              </dxi-item>
            
                            </dxi-item>
            
                            <dxi-item itemType="group" [caption]="'participatingOrganization' | translate">
            
                              <dxi-item [disabled]="true" *ngFor="let item of data.thongTinHoiThao.thanhPhanToChuc" dataField="banToChuc">
                                <dxo-label [text]="item.loaiThanhPhan"></dxo-label>
                                <coquan [items]="ingredientsItems" [titleBtn]="'addIngredient'" [data]="item.data"></coquan>
                              </dxi-item>
            
                              <dxi-item [disabled]="true"
                                dataField="coQuanTaiTro"
                              >
                                <dxo-label [text]="'sponsor' | translate"></dxo-label>
                                <coquan [items]="sponsorItems" [data]="data.thongTinHoiThao.coQuanTaiTro"
                                  [titleBtn]="'addIngredient'" 
                                  [selectBoxData]="selectBoxDataCoQuan">
                                </coquan>
                              </dxi-item>
            
                            </dxi-item>
            
                            <dxi-item itemType="group" [caption]="'expectNumbers' | translate"  [colCount]="2">
            
                                <dxi-item [disabled]="true"
                                  dataField="thongTinHoiThao.duKienSLVN" 
                                  editorType="dxNumberBox"
                                  [editorOptions]="{showSpinButtons: true}"
                                >
                                  <dxo-label [text]="'representativeVN' | translate"></dxo-label>
                                  <dxi-validation-rule 
                                    type="numeric" 
                                    [message]="'fieldValidation' | translate"
                                  >
                                  </dxi-validation-rule>
                                </dxi-item>
                                
                                <dxi-item [disabled]="true"
                                  dataField="thongTinHoiThao.duKienSLNN" 
                                  editorType="dxNumberBox"
                                  [editorOptions]="{showSpinButtons: true}"
                                >
                                  <dxo-label [text]="'representativeNN' | translate"></dxo-label>
                                  <dxi-validation-rule 
                                    type="numeric" 
                                    [message]="'fieldValidation' | translate"
                                  >
                                  </dxi-validation-rule>
                                </dxi-item>
            
                            </dxi-item>
            
                            <dxi-item [disabled]="true"
                              dataField="thanhPhanNN"
                            >
                              <dxo-label [text]="'infoDelegates' | translate"></dxo-label>
                              <coquan [items]="infoReporterItems" [titleBtn]="'addDelegates'" [data]="data.thongTinHoiThao.thanhPhanNN"></coquan>
                            </dxi-item>
            
                        </dxi-tab>

                        <dxi-tab [title]="'contentConference' | translate">
                            <dxi-item 
                              dataField="tomTat" 
                              isRequired="true" 
                              [disabled]="true"
                            >
                              <dxo-label [text]="'summary' | translate"></dxo-label>
                              <dxi-validation-rule
                                type="required"
                                [message]="'fieldRequire' | translate"
                              ></dxi-validation-rule>
                            </dxi-item>
            
                            <dxi-item 
                              dataField="tomTat" 
                              [disabled]="true"
                            >
                              <dxo-label [text]="'attachFile' | translate"></dxo-label>
                              <dx-file-uploader [multiple]="true"
                                uploadMode="useForm">
                              </dx-file-uploader>
                              <div style="font-size: 14px;font-weight: 400;color: red">(Chỉ được đính kèm file .doc, .docx, .pdf)</div>
                            </dxi-item>
            
                        </dxi-tab>
                        
                        <dxi-tab [title]="'sidactivities' | translate">
                            <dxi-item 
                                dataField="hoatDongBenLe" 
                                [disabled]="true"
                              >
                                <dxo-label [text]="'infoactivitites' | translate"></dxo-label>
                                <dx-html-editor height="725px">
                                  <dxo-toolbar [multiline]="false">
                                    <dxi-item name="undo"></dxi-item>
                                    <dxi-item name="redo"></dxi-item>
                                    <dxi-item name="separator"></dxi-item>
                                    <dxi-item
                                      name="size"
                                      [acceptedValues]="['8pt', '10pt', '12pt', '14pt', '18pt', '24pt', '36pt']"
                                      [options]="{ inputAttr: { 'aria-label': 'Font size' } }"
                                    ></dxi-item>
                                    <dxi-item
                                      name="font"
                                      [acceptedValues]="[
                                        'Arial',
                                        'Courier New',
                                        'Georgia',
                                        'Impact',
                                        'Lucida Console',
                                        'Tahoma',
                                        'Times New Roman',
                                        'Verdana'
                                      ]"
                                      [options]="{ inputAttr: { 'aria-label': 'Font family' } }"
                                    ></dxi-item>
                                    <dxi-item name="separator"></dxi-item>
                                    <dxi-item name="bold"></dxi-item>
                                    <dxi-item name="italic"></dxi-item>
                                    <dxi-item name="strike"></dxi-item>
                                    <dxi-item name="underline"></dxi-item>
                                    <dxi-item name="separator"></dxi-item>
                                    <dxi-item name="alignLeft"></dxi-item>
                                    <dxi-item name="alignCenter"></dxi-item>
                                    <dxi-item name="alignRight"></dxi-item>
                                    <dxi-item name="alignJustify"></dxi-item>
                                    <dxi-item name="separator"></dxi-item>
                                    <dxi-item name="orderedList"></dxi-item>
                                    <dxi-item name="bulletList"></dxi-item>
                                    <dxi-item name="separator"></dxi-item>
                                    <dxi-item
                                      name="header"
                                      [acceptedValues]="[false, 1, 2, 3, 4, 5]"
                                      [options]="{ inputAttr: { 'aria-label': 'Header' } }"
                                    ></dxi-item>
                                    <dxi-item name="separator"></dxi-item>
                                    <dxi-item name="color"></dxi-item>
                                    <dxi-item name="background"></dxi-item>
                                    <dxi-item name="separator"></dxi-item>
                                    <dxi-item name="link"></dxi-item>
                                    <dxi-item name="image"></dxi-item>
                                    <dxi-item name="separator"></dxi-item>
                                    <dxi-item name="clear"></dxi-item>
                                    <dxi-item name="codeBlock"></dxi-item>
                                    <dxi-item name="blockquote"></dxi-item>
                                    <dxi-item name="separator"></dxi-item>
                                    <dxi-item name="insertTable"></dxi-item>
                                    <dxi-item name="deleteTable"></dxi-item>
                                    <dxi-item name="insertRowAbove"></dxi-item>
                                    <dxi-item name="insertRowBelow"></dxi-item>
                                    <dxi-item name="deleteRow"></dxi-item>
                                    <dxi-item name="insertColumnLeft"></dxi-item>
                                    <dxi-item name="insertColumnRight"></dxi-item>
                                    <dxi-item name="deleteColumn"></dxi-item>
                                  </dxo-toolbar>
                                  <dxo-media-resizing [enabled]="true"> </dxo-media-resizing>
                                  <dxo-image-upload tabs=" { name: 'Both', value: ['file', 'url'] }," fileUploadMode="base64">
                                  </dxo-image-upload>
                                </dx-html-editor>
                                
                              </dxi-item>
                        </dxi-tab>

                        <dxi-tab [title]="'PropagandaPlan' | translate">
                            <dxi-item 
                                dataField="keHoachTuyenTruyen" 
                                [disabled]="true"
                              >
                                <dxo-label [text]="'infoplan' | translate"></dxo-label>
                                <dx-html-editor height="725px" >
                                  <dxo-toolbar [multiline]="false">
                                    <dxi-item name="undo"></dxi-item>
                                    <dxi-item name="redo"></dxi-item>
                                    <dxi-item name="separator"></dxi-item>
                                    <dxi-item
                                      name="size"
                                      [acceptedValues]="['8pt', '10pt', '12pt', '14pt', '18pt', '24pt', '36pt']"
                                      [options]="{ inputAttr: { 'aria-label': 'Font size' } }"
                                    ></dxi-item>
                                    <dxi-item
                                      name="font"
                                      [acceptedValues]="[
                                        'Arial',
                                        'Courier New',
                                        'Georgia',
                                        'Impact',
                                        'Lucida Console',
                                        'Tahoma',
                                        'Times New Roman',
                                        'Verdana'
                                      ]"
                                      [options]="{ inputAttr: { 'aria-label': 'Font family' } }"
                                    ></dxi-item>
                                    <dxi-item name="separator"></dxi-item>
                                    <dxi-item name="bold"></dxi-item>
                                    <dxi-item name="italic"></dxi-item>
                                    <dxi-item name="strike"></dxi-item>
                                    <dxi-item name="underline"></dxi-item>
                                    <dxi-item name="separator"></dxi-item>
                                    <dxi-item name="alignLeft"></dxi-item>
                                    <dxi-item name="alignCenter"></dxi-item>
                                    <dxi-item name="alignRight"></dxi-item>
                                    <dxi-item name="alignJustify"></dxi-item>
                                    <dxi-item name="separator"></dxi-item>
                                    <dxi-item name="orderedList"></dxi-item>
                                    <dxi-item name="bulletList"></dxi-item>
                                    <dxi-item name="separator"></dxi-item>
                                    <dxi-item
                                      name="header"
                                      [acceptedValues]="[false, 1, 2, 3, 4, 5]"
                                      [options]="{ inputAttr: { 'aria-label': 'Header' } }"
                                    ></dxi-item>
                                    <dxi-item name="separator"></dxi-item>
                                    <dxi-item name="color"></dxi-item>
                                    <dxi-item name="background"></dxi-item>
                                    <dxi-item name="separator"></dxi-item>
                                    <dxi-item name="link"></dxi-item>
                                    <dxi-item name="image"></dxi-item>
                                    <dxi-item name="separator"></dxi-item>
                                    <dxi-item name="clear"></dxi-item>
                                    <dxi-item name="codeBlock"></dxi-item>
                                    <dxi-item name="blockquote"></dxi-item>
                                    <dxi-item name="separator"></dxi-item>
                                    <dxi-item name="insertTable"></dxi-item>
                                    <dxi-item name="deleteTable"></dxi-item>
                                    <dxi-item name="insertRowAbove"></dxi-item>
                                    <dxi-item name="insertRowBelow"></dxi-item>
                                    <dxi-item name="deleteRow"></dxi-item>
                                    <dxi-item name="insertColumnLeft"></dxi-item>
                                    <dxi-item name="insertColumnRight"></dxi-item>
                                    <dxi-item name="deleteColumn"></dxi-item>
                                  </dxo-toolbar>
                                  <dxo-media-resizing [enabled]="true"> </dxo-media-resizing>
                                  <dxo-image-upload tabs=" { name: 'Both', value: ['file', 'url'] }," fileUploadMode="base64">
                                  </dxo-image-upload>
                                </dx-html-editor>
                                
                              </dxi-item>
                        </dxi-tab>

                        <dxi-tab [title]="'funding2' | translate">
                            <dxi-item 
                                dataField="donVi" 
                                isRequired="true" 
                                [disabled]="true"                                 
                            >
                              <dxo-label [text]="'payingUnit' | translate"></dxo-label>
                              <dxi-validation-rule
                                type="required"
                                [message]="'fieldRequire' | translate"
                              ></dxi-validation-rule>
                            </dxi-item>
                            
                            <dxi-item 
                                dataField="moTa" 
                                [disabled]="true"  
                              >
                              <dxo-label [text]="'infodetail' | translate"></dxo-label>
                              <dx-html-editor height="725px" >
                                <dxo-toolbar [multiline]="false">
                                  <dxi-item name="undo"></dxi-item>
                                  <dxi-item name="redo"></dxi-item>
                                  <dxi-item name="separator"></dxi-item>
                                  <dxi-item
                                    name="size"
                                    [acceptedValues]="['8pt', '10pt', '12pt', '14pt', '18pt', '24pt', '36pt']"
                                    [options]="{ inputAttr: { 'aria-label': 'Font size' } }"
                                  ></dxi-item>
                                  <dxi-item
                                    name="font"
                                    [acceptedValues]="[
                                      'Arial',
                                      'Courier New',
                                      'Georgia',
                                      'Impact',
                                      'Lucida Console',
                                      'Tahoma',
                                      'Times New Roman',
                                      'Verdana'
                                    ]"
                                    [options]="{ inputAttr: { 'aria-label': 'Font family' } }"
                                  ></dxi-item>
                                  <dxi-item name="separator"></dxi-item>
                                  <dxi-item name="bold"></dxi-item>
                                  <dxi-item name="italic"></dxi-item>
                                  <dxi-item name="strike"></dxi-item>
                                  <dxi-item name="underline"></dxi-item>
                                  <dxi-item name="separator"></dxi-item>
                                  <dxi-item name="alignLeft"></dxi-item>
                                  <dxi-item name="alignCenter"></dxi-item>
                                  <dxi-item name="alignRight"></dxi-item>
                                  <dxi-item name="alignJustify"></dxi-item>
                                  <dxi-item name="separator"></dxi-item>
                                  <dxi-item name="orderedList"></dxi-item>
                                  <dxi-item name="bulletList"></dxi-item>
                                  <dxi-item name="separator"></dxi-item>
                                  <dxi-item
                                    name="header"
                                    [acceptedValues]="[false, 1, 2, 3, 4, 5]"
                                    [options]="{ inputAttr: { 'aria-label': 'Header' } }"
                                  ></dxi-item>
                                  <dxi-item name="separator"></dxi-item>
                                  <dxi-item name="color"></dxi-item>
                                  <dxi-item name="background"></dxi-item>
                                  <dxi-item name="separator"></dxi-item>
                                  <dxi-item name="link"></dxi-item>
                                  <dxi-item name="image"></dxi-item>
                                  <dxi-item name="separator"></dxi-item>
                                  <dxi-item name="clear"></dxi-item>
                                  <dxi-item name="codeBlock"></dxi-item>
                                  <dxi-item name="blockquote"></dxi-item>
                                  <dxi-item name="separator"></dxi-item>
                                  <dxi-item name="insertTable"></dxi-item>
                                  <dxi-item name="deleteTable"></dxi-item>
                                  <dxi-item name="insertRowAbove"></dxi-item>
                                  <dxi-item name="insertRowBelow"></dxi-item>
                                  <dxi-item name="deleteRow"></dxi-item>
                                  <dxi-item name="insertColumnLeft"></dxi-item>
                                  <dxi-item name="insertColumnRight"></dxi-item>
                                  <dxi-item name="deleteColumn"></dxi-item>
                                </dxo-toolbar>
                                <dxo-media-resizing [enabled]="true"> </dxo-media-resizing>
                                <dxo-image-upload tabs=" { name: 'Both', value: ['file', 'url'] }," fileUploadMode="base64">
                                </dxo-image-upload>
                              </dx-html-editor>
                                
                            </dxi-item>
            
                        </dxi-tab>

                        <dxi-tab [title]="'document' | translate">
                            <dxi-item [disabled]="true">
                                <coquan [items]="attachDocumentItems" [titleBtn]="'addDocument'" [data]="bieuMau"></coquan>
                            </dxi-item>
                        </dxi-tab>

                        <dxi-tab [title]="'licenseInfo' | translate">
                            <dxi-item 
                                dataField="donViCapPhepID" 
                                editorType="dxSelectBox"
                                [editorOptions]="donViEditorOptions"
                            >
                                <dxo-label [text]="'licensingUnit' | translate"></dxo-label>
                            </dxi-item>

                            <dxi-item 
                                dataField="hoatDong" 
                            >
                                <dxo-label [text]="'activitiesPlan' | translate"></dxo-label>
                            </dxi-item>

                        </dxi-tab>

                        <dxi-tab [title]="'report' | translate">
                            <dxi-item 
                                dataField="thanhPhan"
                            >
                                <dxo-label [text]="'chair' | translate"></dxo-label>
                                <coquan [items]="ingredientsItems" [titleBtn]="'addIngredient'" ></coquan>
                            </dxi-item>

                            <dxi-item 
                                dataField="thanhPhan"
                            >
                                <dxo-label [text]="'cochair' | translate"></dxo-label>
                                <coquan [items]="ingredientsItems" [titleBtn]="'addIngredient'" ></coquan>
                            </dxi-item>

                            <dxi-item itemType="group" [caption]="'responsibleUnit' | translate" >
                                <dxi-item 
                                    dataField="donViChuTriVN" 
                                >
                                    <dxo-label [text]="'responsibleUnitVN' | translate"></dxo-label>
                                </dxi-item>

                                <dxi-item 
                                    dataField="donViChuTriNN" 
                                >
                                    <dxo-label [text]="'responsibleUnitNN' | translate"></dxo-label>
                                </dxi-item>

                            </dxi-item>

                            <dxi-item 
                                dataField="ketQuaHoiThao" 
                            >
                                <dxo-label [text]="'resultConference' | translate"></dxo-label>
                                <!-- <div style="display: flex; width: 100%; align-items: center;"> -->
                                    <!-- <a target="_blank" download href="assets/icons/download.svg"> <img style="margin-right: 4px;" src="assets/icons/download.svg" alt="download"/>Tải template</a> -->
                                    <dx-file-uploader [multiple]="true" class="no-padding"
                                        uploadMode="useButtons" (onValueChanged)="onUploadFileChanged($event)">
                                    </dx-file-uploader>
                                <!-- </div> -->
                            </dxi-item>

                            <dxi-item 
                                dataField="tomTat" 
                            >
                                <dxo-label [text]="'attachments' | translate"></dxo-label>
                                <dx-file-uploader [multiple]="true" class="no-padding"
                                    uploadMode="useButtons" (onValueChanged)="onUploadFileChanged($event)">
                                </dx-file-uploader>
                            </dxi-item>

                        </dxi-tab>

                        <dxi-tab [title]="'commentHandling' | translate">
                            <dxi-item class="form-comment"
                                dataField="yKien" 
                            >
                                <dxo-label [text]="'commentHandling' | translate"></dxo-label>
                                <div style="display: flex; width: 100%;">
                                    <dx-text-box style="width: 80%; margin-right: 8px;"></dx-text-box>
                                    <dx-button [text]="'processHandle' | translate" class="btn-view"
                                        [hint]="'processHandle' | translate" 
                                        type="success"
                                        (onClick)="viewProcessingProcedure()"
                                    ></dx-button>
                                </div>
                            </dxi-item>
            
                            <dxi-item 
                                dataField="file" 
                            >
                                <dxo-label [text]="'attachFile' | translate"></dxo-label>
                                <dx-file-uploader [multiple]="true" (onValueChanged)="onUploadFileChanged($event)"
                                    uploadMode="useButtons">
                                </dx-file-uploader>
                            </dxi-item>
                            
                        </dxi-tab>
                    </dxi-item>
                </dx-form>
            </div>
        </div>
        
        <div class="corner-button-custom">
          <dx-button [icon]="iconToggleCommentForm" class="buttonUp" (onClick)="toggleCommentForm()"></dx-button>
          <dx-form class="form-comment-parent">
            <dxi-item class="form-comment"
              dataField="yKien" 
            >
              <dxo-label [text]="'commentHandling' | translate"></dxo-label>
              <div style="display: flex; width: 100%;">
                <dx-text-box style="width: 80%; margin-right: 8px;"></dx-text-box>
                <dx-button [text]="'processHandle' | translate" class="btn-view"
                    [hint]="'processHandle' | translate" 
                    type="success"
                    (onClick)="viewProcessingProcedure()"
                ></dx-button>
              </div>
            </dxi-item>

            <dxi-item 
              dataField="file" 
            >
              <dxo-label [text]="'attachFile' | translate"></dxo-label>
              <dx-file-uploader [multiple]="true" (onValueChanged)="onUploadFileChanged($event)"
                  uploadMode="useButtons">
              </dx-file-uploader>
            </dxi-item>
          </dx-form>
          <div class="item-button">
            <dx-button *ngFor="let item of listCornerBtn"
              [text]="item.label"
              [icon]="item.icon"
              [type]="item.type"
              stylingMode="contained"
              style="padding: 8px 12px"
              (onClick)="item.onClick()">
            </dx-button>
          </div>
        </div>

      </div>
    </div>
  </dx-scroll-view>
  
<chuyentiep-popup
    [(visible)]="isForwardPopupOpened"
    [forWard]="{visible: true, onHandle: onForward}"
    [data]="dataNhanSu"
></chuyentiep-popup>

<quatrinhxulyHoSo-popup
      [(visible)]="isProcessingProcedurePopupOpened"
      [data]="dataThuTuc"
      [dataVersion]="dataPhienBan"
></quatrinhxulyHoSo-popup>